################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/site_exemplo/v15/Server/sqlite3/db.lock
/.vs/site_exemplo/v15/Server/sqlite3/storage.ide-wal
/.vs/site_exemplo/v15/Server/sqlite3/storage.ide-shm
/.vs/site_exemplo/v15/Server/sqlite3/storage.ide
/.vs/config/applicationhost.config
/.vs/site_exemplo/v15/.suo
/site_exemplo/bin
/site_exemplo/obj
site_exemplo/obj/Debug/site_exemplo.csproj.CoreCompileInputs.cache
